.user__card__patient__info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--size-xsmall);
  margin-top: var(--size-small);
}

.user__card__patient__info__item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-xsmall);
  background-color: hsla(var(--color-primary), 0.1);
  padding: var(--size-xsmall) var(--size-small);
  border-radius: var(--border-radius-medium);
}

.user__card__patient__info__item__label {
  font-weight: var(--weight-bold);
  color: var(--color-text-muted);
  font-size: 1.3em;
}

.user__card__patient__info__item__value {
  display: flex;
  align-items: center;
  gap: var(--size-xsmall);
  color: hsl(var(--color-primary));
  font-weight: var(--weight-bold);
  font-size: 1.5em;

  svg {
    flex-shrink: 0;
  }
}
