.main {
  display: grid;
  max-width: 1440px;
  width: 100vw;
  margin-inline: auto;
  padding-inline: var(--size-medium);
  padding-left: calc(var(--size-medium) + var(--sidebar-width));
  transition: padding-left 0.2s ease-in-out;
}

.main--open {
  padding-left: calc(var(--size-medium) + var(--sidebar-width-expanded));
}

@media screen and (min-width: 1800px) {
  .main,
  .main--open {
    padding-left: var(--size-medium);
  }
}
